@charset "utf-8";

/* 버튼들 */
.lend-tabmenu {
  display: flex;
  justify-content: center;
  gap: 1.6rem;

  margin-bottom: 5%;
}

.lend-tabmenu button {
  width: 23.9rem;
  height: 6.3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5rem;
  background: var(--btn);
  color: var(--Light-100);
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;

  width: 15.7237%;
  font-size: clamp(1.8rem, 1.302vw, 2.5rem);
}

.lend-tabmenu button:hover,
.lend-tabmenu button.on {
  background: var(--Darck-100);
}

/* event */
.event-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8.4rem 2rem;
}

.event-list-2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.event-list-3 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.event-list li {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 49.2rem;
  width: 32.3684%;
}

.event-list li figure {
  position: relative;
  width: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.event-list > li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: 0.4s;
}

.event-list > li:hover figure::after {
  opacity: 0.3;
}

.event-list li img {
  width: 100%;
  height: 100%;
}

.event-list li {
  text-align: center;
}

.event-text {
  padding-top: 2.8rem;
}

.event-text dt {
  font-size: clamp(1.5rem, 1.25vw, 2.4rem);
  font-weight: 800;
  color: var(--Darck-100);

  /* font-size: clamp(1.2rem, 1.25vw, 2.4rem); */
}

.event-text dd {
  padding-top: 1rem;
  font-size: clamp(1.3rem, 1.042vw, 2rem);
  font-weight: 600;
  color: var(--Darck-60);

  /* font-size: clamp(0.9rem, 1.0416vw, 2rem); */
}

/* 반응형  000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000*/
@media (max-width: 1900px) {
  .event-list li {
    width: 35rem;
  }

  .event-list li figure {
    width: 30rem;
    height: 25rem;
  }
}

@media (max-width: 1470px) {
  .event-list > li {
    flex: 1 1 40%;
  }

  .event-list {
    gap: 3rem;
  }
}

@media (max-width: 980px) {
  .about-text {
    padding-bottom: 2.2rem;
  }

  .event-list {
    padding-top: 4rem;
    gap: 2rem;
  }
  .event-list > li figure {
    height: 28.2rem;
  }

  .event-list > li {
    flex: 1 1 50%;
  }
}

@media (max-width: 620px) {
  .event-list {
    padding-top: 4rem;
  }

  .event-list > li {
    flex: 1 1 100%;
  }
}
